﻿@model TibFinanceDataAccess.Models.UserLogin
@{
    ViewBag.Title = "Login";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-md-6col-md-offset-3">
            <h2 class="text-center">Login to Your Account</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group mt-3">
                            <span class="input-group-addon"><i class="glyphiconglyphicon-user"></i></span>
                            <input type="text" id="username" class="form-control" placeholder="Username">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group mt-3">
                            <span class="input-group-addon"><i class="glyphiconglyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mt-3">
                        <button class="btn btn-warning" type="submit" id="login"><i class="glyphiconglyphicon-log-in"></i>&nbsp;Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#login").click(function () {
            var data = {
                "UserName": $("#username").val(),
                "Password": $("#password").val()
            };
            $.ajax({
                url: "/Login/UserLogin",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response.success) {
                        window.location.href = "@Url.Action("Index", "Home")";
                        //alert("Login Succesfull")
                    }
                    else {
                        alert("Not successful");
                        //window.location.href = "@Url.Action("Login", "Student")";
                    }

                },
                error: function (e) {
                    console.log(e);
                }

            });
        });
    })
</script>