@model TibFinanceDataAccess.Models.UserPermission
@{
    ViewBag.Title = "Index";
}

<h2>All Permission</h2>

<div class="mt-5">
    <a href="#" class="btn btn-info" onclick="AddNewPermission()">Add New Permission</a>
</div>
<table id="permissionTable" class="table table-striped">
    <thead>
        <tr>
            <th>Permission Id</th>
            <th>Menu Name</th>
            <th>Module Name </th>
            <th></th>
            <th class="text-center m-5">Action</th>
        </tr>
    </thead>
    <tbody id="SetMenuList">
    </tbody>
</table>

