@model TibFinanceDataAccess.Models.UserPermission
@{
    ViewBag.Title = "Index";
}
<h2>All Permission</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table id="permissionTable" class="table table-striped">
    <thead>
        <tr>
            <th>Menu Name</th>
            <th>Module Name </th>
            <th>RoleName</th>
        </tr>
    </thead>
    <tbody id="SetPermissionList">

    </tbody>
    <div class="mt-5">
        <a href="#" class="btn btn-info" id="saveNewPermission">Add New Permission</a>
    </div>
</table>
<script>
    let pList = [];
    $.get("/Permission/GetAllPermissions", null, GetPermissions);
    function GetPermissions(response) {
        var SetData = $("#SetPermissionList"); pList = response;
        console.log(pList);
        for (var i = 0; i < pList.length; i++) {
            let dataset = pList[i];
            var Data = "<tr class='row_" + pList[i].PermissionId + "'>" +
                "<td> <select onchange='onMenuChange(event," + dataset.MenuId + "," + i + ")' id='menuList_" + i + "' name='customer'>" + LoadMenu(pList[i], i) + " </select></td>" +
                "<td> <select onchange='onModuleChange(event," + dataset.ModuleId + "," + i + ")' id=moduleList_" + i + "' name='customer1'>" + LoadModule(pList[i], i) + "</td>" +
                "<td> <select onchange='onRoleChange(event," + dataset.RoleId + "," + i + ")' id=roleList_" + i + "' name='customer2'>" + LoadRole(pList[i], i) + "</td>" +
                "<td>  <input type='checkbox'>" + "<td>"
                "</td>"
            "</tr>";
            SetData.append(Data);
        }
     
    }
    function onCreateChange(event, index) {

    }
    function onMenuChange(event, menuId, index) {
        var menuId = event.target.value;

        pList[index].MenuId = menuId;
       // console.log(menuId);

    }
    function onModuleChange(event, moduleId, index) {
        var moduleId = event.target.value;
        pList[index].ModuleId = moduleId;
        //console.log(moduleId);
    }
    function onRoleChange(event, roleId, index) {
        var roleId = event.target.value;
        pList[index].RoleId = roleId;
      //  console.log(roleId);
    }
    function LoadMenu(permmission, index) {
        var options = '';
        var menuId = permmission.MenuId;
        if (menuId == 0) {
            options = '<option value="" selected>Select</option>';
        } else {
            options = '<option value="">Select</option>';
        }
        var menus = permmission.Menus;
        for (var i = 0; i < menus.length; i++) {
            options += '<option class=" drpdwnlist"  value="' + menus[i].MenuId + '"';
            options += ' ' + menuId == menus[i].MenuId ? ' selected' : '' + ' '
            options += '>' + menus[i].MenuName + '</option>';
        }
        return options;
    }
    function LoadModule(permmission, index) {
        var options = '';
        var moduleId = permmission.ModuleId;
        if (moduleId == 0) {
            options = '<option   value="" selected>Select</option>';
        }
        else {
            options = '<option  value="">Select</option>';
        }
        var modules = permmission.Modules;
        for (var i = 0; i < modules.length; i++) {
            options += '<option class=" drpdwnlist"  value="' + modules[i].ModuleId + '"';
            options += ' ' + moduleId == modules[i].ModuleId ? ' selected' : '' + ' '
            options += '>' + modules[i].ModuleName + '</option>';

        }
        return options;
    }
    function LoadRole(permmission, index) {
        var options = '';
        var roleId = permmission.RoleId;
        if (roleId == 0) {
            options = '<option  value="" selected>Select</option>';
        }
        else {
            options = '<option  value="" >Select</option>';
        }
        var roles = permmission.Roles;

        for (var i = 0; i < roles.length; i++) {
            options += '<option class=" drpdwnlist"  value="' + roles[i].RoleId + '"';
            options += ' ' + roleId == roles[i].RoleId ? ' selected' : '' + ' '
            options += '>' + roles[i].RoleName + '</option>';


        }
        return options;
    }
  
    $("#saveNewPermission").click(function () {
        console.log(JSON.stringify(pList));
            var settings = {
                "url": "https://localhost:44308/Permission/PermissionEdit",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify(pList),
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
            });
    }); 
</script>

