@model TibFinanceDataAccess.Models.UserPermission
@{
    ViewBag.Title = "Index";
}

<h2>All Permission</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table id="permissionTable" class="table table-striped">
    <thead>
        <tr>
            <th>Menu Name</th>
            <th>Module Name </th>
            <th>RoleName</th>

        </tr>
    </thead>
    <tbody id="SetPermissionList">
    </tbody>
    <div class="mt-5">
        <a href="#" class="btn btn-info" id="add" onclick="getsome()">Add New Permission</a>
    </div>
</table>
<script>
    let pList = [];
    $.get("/Permission/GetAllPermissions", null, GetPermissions);
    function GetPermissions(response) {
        var SetData = $("#SetPermissionList"); pList = response;
        console.log(pList);
        for (var i = 0; i < pList.length; i++) {
            let menu = pList[i];
            var Data = "<tr class='row_" + pList[i].PermissionId + "'>" +
                "<td> <select onchange='onManuChange(event," + menu.MenuId + ","+i+")' id='menuList_" + i + "' name='customer'>" + LoadMenu(pList[i], i) + " </select></td>" +
                "<td> <select id=moduleList_" + i + "' name='customer1'>" + LoadModule(pList[i], i) + "</td>" +
                "<td> <select id=roleList_" + i + "' name='customer2'>" + LoadRole(pList[i], i) + "</td>" +
                "</td>"
            "</tr>";
            SetData.append(Data);
        }

    }
    function onManuChange(event, menuId, index) {
        var menuId=event.target.value;
        console.log(menuId);
        console.log(pList[index]);
        pList[index].MenuId = menuId;
        console.log(pList[index]);
    }
    function LoadMenu(permmission, index) {
        var options = '';
        var menuId = permmission.MenuId;
        if (menuId == 0) {
            options = '<option value="" selected>Select</option>';
        } else {
            options = '<option value="">Select</option>';
        }
        var menus = permmission.Menus;
        for (var i = 0; i < menus.length; i++) {
            options += '<option class=" drpdwnlist"  value="' + menus[i].MenuId + '"';
            options += ' ' + menuId == menus[i].MenuId ? ' selected' : '' + ' '
            options += '>' + menus[i].MenuName + '</option>';
        }
        return options;
    }
    function LoadModule(permmission, index) {
        var options = '';
        var moduleId = permmission.ModuleId;
        if (moduleId == 0) {
            options = '<option   value="" selected>Select</option>';
        }
        else {
            options = '<option  value="">Select</option>';
        }
        var modules = permmission.Modules;
        for (var i = 0; i < modules.length; i++) {
            options += '<option class=" drpdwnlist"  value="' + modules[i].ModuleId + '"';
            options += ' ' + moduleId == modules[i].ModuleId ? ' selected' : '' + ' '
            options += '>' + modules[i].ModuleName + '</option>';

        }
        return options;
    }
    function LoadRole(permmission, index) {
        var options = '';
        var roleId = permmission.RoleId;
        if (roleId == 0) {
            options = '<option  value="" selected>Select</option>';
        }
        else {
            options = '<option  value="" >Select</option>';
        }
        var roles = permmission.Roles;

        for (var i = 0; i < roles.length; i++) {
            options += '<option class=" drpdwnlist"  value="' + roles[i].RoleId + '"';
            options += ' ' + roleId == roles[i].RoleId ? ' selected' : '' + ' '
            options += '>' + roles[i].RoleName + '</option>';


        }
        return options;
    }
    function getsome() {
        $('#add').change(function () {
            //debugger
            var selectedItem = $('.drpdwnlist').val();
            debugger
            $.ajax({
                type: 'POST',
                url: "/Permission/PermissionEdit",
                data: {
                   id: selectedItem 
                    
                },
                success: function (data) {
                    if (data.success) {
                        alert('Item saved to the database.');
                    } else {
                        alert('Failed to save item.');
                    }
                },

            });
        });
    }
    function PostData() {

    }




</script>

